


<div class="row">
    <div class="card">
        <div class="card-header text-center">
            <h3>Speedy Car Insurance | Insurance Quote</h3>
            <h2>Hi @ViewBag.FirstName @ViewBag.LastName !</h2>
            <h5 class="m-0"></h5>
        </div>
        <div class="card-body">
            <div class="row text-center">
                Thank you for your interest in our Insurance packages.<br />
                We would like to offer you an insurance package of just $ @ViewBag.InsuranceQuote per month!<br />
                Please drop us an email at bestdeals@speedycarinsurance.com to lock in this special rate.
            </div>
        </div>
    </div>

</div>
